body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

#timer-section {
    margin-bottom: 20px;
}

#todo-section input {
    padding: 10px;
    width: 200px;
}

#todo-section ul {
    list-style-type: none;
    padding: 0;
}

#todo-section li {
    background-color: #eee;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
